.venv/
data/~$summary.xlsx
data/summary.xlsx
data/btc/skew/combined/combined_skew_data.csv
data/btc/skew/skew_000.csv
data/btc/skew/skew_001.csv
data/btc/skew/skew_002.csv
data/btc/skew/skew_003.csv
data/btc/skew/skew_004.csv
data/btc/skew/skew_005.csv
data/btc/skew/skew_006.csv
data/btc/skew/skew_007.csv
data/btc/skew/skew_008.csv
data/btc/skew/skew_009.csv
data/btc/skew/skew_010.csv
data/btc/skew/skew_011.csv
data/btc/skew/skew_012.csv
data/btc/skew/skew_013.csv
data/btc/skew/skew_014.csv
data/btc/skew/skew_015.csv
data/btc/skew/skew_016.csv
data/btc/skew/skew_017.csv
data/btc/skew/skew_018.csv
data/btc/skew/skew_019.csv
data/btc/skew/skew_020.csv
data/btc/skew/skew_021.csv
data/btc/skew/skew_022.csv
data/btc/skew/skew_023.csv
data/btc/skew/skew_024.csv
data/btc/skew/skew_025.csv
data/btc/skew/skew_026.csv
data/btc/skew/skew_027.csv
data/btc/skew/skew_028.csv
data/btc/skew/skew_029.csv
data/btc/skew/skew_030.csv
data/btc/skew/skew_031.csv
data/btc/skew/skew_032.csv
data/btc/skew/skew_033.csv
data/btc/skew/skew_034.csv
data/btc/skew/skew_035.csv
data/btc/skew/skew_036.csv
data/btc/skew/skew_037.csv
data/btc/skew/skew_038.csv
data/btc/skew/skew_039.csv
data/btc/skew/skew_040.csv
data/btc/skew/skew_041.csv
data/btc/skew/skew_042.csv
data/btc/skew/skew_043.csv
data/btc/skew/skew_044.csv
data/btc/skew/skew_045.csv
data/btc/skew/skew_046.csv
data/btc/skew/skew_047.csv
data/btc/skew/skew_048.csv
data/btc/skew/skew_049.csv
data/btc/skew/skew_050.csv
data/btc/skew/skew_051.csv
data/btc/skew/skew_052.csv
data/btc/skew/skew_053.csv
data/btc/skew/skew_054.csv
data/btc/skew/skew_055.csv
data/btc/skew/skew_056.csv
data/btc/skew/skew_057.csv
data/btc/skew/skew_058.csv
data/btc/skew/skew_059.csv
data/btc/skew/skew_060.csv
data/btc/skew/skew_061.csv
data/btc/skew/skew_062.csv
data/btc/skew/skew_063.csv
data/btc/skew/skew_064.csv
data/btc/skew/skew_065.csv
data/btc/skew/skew_066.csv
data/btc/skew/skew_067.csv
data/btc/skew/skew_068.csv
data/btc/skew/skew_069.csv
data/btc/skew/skew_070.csv
data/btc/skew/skew_071.csv
data/btc/skew/skew_072.csv
data/btc/skew/skew_073.csv
data/btc/skew/skew_074.csv
data/btc/skew/skew_075.csv
data/btc/skew/skew_076.csv
data/btc/skew/skew_077.csv
data/btc/skew/skew_078.csv
data/btc/skew/skew_079.csv
data/btc/skew/skew_080.csv
data/btc/skew/skew_081.csv
data/btc/skew/skew_082.csv
data/btc/skew/skew_083.csv
data/btc/skew/skew_084.csv
data/btc/skew/skew_085.csv
data/btc/skew/skew_086.csv
data/btc/skew/skew_087.csv
data/btc/skew/skew_088.csv
data/btc/skew/skew_089.csv
data/btc/skew/skew_090.csv
data/btc/skew/skew_091.csv
data/btc/skew/skew_092.csv
data/btc/skew/skew_093.csv
data/btc/skew/skew_094.csv
data/btc/skew/skew_095.csv
data/btc/skew/skew_096.csv
data/btc/skew/skew_097.csv
data/btc/skew/skew_098.csv
data/btc/skew/skew_099.csv
data/btc/skew/skew_100.csv
data/btc/skew/skew_101.csv
data/btc/skew/skew_102.csv
data/btc/skew/skew_103.csv
data/btc/skew/skew_104.csv
data/eth/skew/combined/combined_skew_data.csv
data/eth/skew/skew_000.csv
data/eth/skew/skew_001.csv
data/eth/skew/skew_002.csv
data/eth/skew/skew_003.csv
data/eth/skew/skew_004.csv
data/eth/skew/skew_005.csv
data/eth/skew/skew_006.csv
data/eth/skew/skew_007.csv
data/eth/skew/skew_008.csv
data/eth/skew/skew_009.csv
data/eth/skew/skew_010.csv
data/eth/skew/skew_011.csv
data/eth/skew/skew_012.csv
data/eth/skew/skew_013.csv
data/eth/skew/skew_014.csv
data/eth/skew/skew_015.csv
data/eth/skew/skew_016.csv
data/eth/skew/skew_017.csv
data/eth/skew/skew_018.csv
data/eth/skew/skew_019.csv
data/eth/skew/skew_020.csv
data/eth/skew/skew_021.csv
data/eth/skew/skew_022.csv
data/eth/skew/skew_023.csv
data/eth/skew/skew_024.csv
data/eth/skew/skew_025.csv
data/eth/skew/skew_026.csv
data/eth/skew/skew_027.csv
data/eth/skew/skew_028.csv
data/eth/skew/skew_029.csv
data/eth/skew/skew_030.csv
data/eth/skew/skew_031.csv
data/eth/skew/skew_032.csv
data/eth/skew/skew_033.csv
data/eth/skew/skew_034.csv
data/eth/skew/skew_035.csv
data/eth/skew/skew_036.csv
data/eth/skew/skew_037.csv
data/eth/skew/skew_038.csv
data/eth/skew/skew_039.csv
data/eth/skew/skew_040.csv
data/eth/skew/skew_041.csv
data/eth/skew/skew_042.csv
data/eth/skew/skew_043.csv
data/eth/skew/skew_044.csv
data/eth/skew/skew_045.csv
data/eth/skew/skew_046.csv
data/eth/skew/skew_047.csv
data/eth/skew/skew_048.csv
data/eth/skew/skew_049.csv
data/eth/skew/skew_050.csv
data/eth/skew/skew_051.csv
data/eth/skew/skew_052.csv
data/eth/skew/skew_053.csv
data/eth/skew/skew_054.csv
data/eth/skew/skew_055.csv
data/eth/skew/skew_056.csv
data/eth/skew/skew_057.csv
data/eth/skew/skew_058.csv
data/eth/skew/skew_059.csv
data/eth/skew/skew_060.csv
data/eth/skew/skew_061.csv
data/eth/skew/skew_062.csv
data/eth/skew/skew_063.csv
data/eth/skew/skew_064.csv
data/eth/skew/skew_065.csv
data/eth/skew/skew_066.csv
data/eth/skew/skew_067.csv
data/eth/skew/skew_068.csv
data/eth/skew/skew_069.csv
data/eth/skew/skew_070.csv
data/eth/skew/skew_071.csv
data/eth/skew/skew_072.csv
data/eth/skew/skew_073.csv
data/eth/skew/skew_074.csv
data/eth/skew/skew_075.csv
data/eth/skew/skew_076.csv
data/eth/skew/skew_077.csv
data/eth/skew/skew_078.csv
data/eth/skew/skew_079.csv
data/eth/skew/skew_080.csv
data/eth/skew/skew_081.csv
data/eth/skew/skew_082.csv
data/eth/skew/skew_083.csv
data/eth/skew/skew_084.csv
data/eth/skew/skew_085.csv
data/eth/skew/skew_086.csv
data/eth/skew/skew_087.csv
data/eth/skew/skew_088.csv
data/eth/skew/skew_089.csv
data/eth/skew/skew_090.csv
data/eth/skew/skew_091.csv
data/eth/skew/skew_092.csv
data/eth/skew/skew_093.csv
data/eth/skew/skew_094.csv
data/eth/skew/skew_095.csv
data/eth/skew/skew_096.csv
data/eth/skew/skew_097.csv
data/eth/skew/skew_098.csv
data/eth/skew/skew_099.csv
data/eth/skew/skew_100.csv
data/eth/skew/skew_101.csv
data/eth/skew/skew_102.csv
data/eth/skew/skew_103.csv
data/eth/skew/skew_104.csv
